.navbar {
    &__item {
        &--button {
            background-color: $ballblue;
            color : $white;
            padding: 0.5rem 1rem;
        }
    }
}

.price {
    &__tarjeta {
        &--button {
            background-color: $ballblue;
            padding: 1rem 1rem;
            margin: 1rem 0;
            text-align: center;
        }

        a {
            text-decoration: none;
            color : $white;
        }
    }
}