* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.botones {
  text-align: right;
}

.contenedor {
  margin: auto;
  width: 100%;
}

.caja .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja__columna {
  color: cornsilk;
  background: #ffffff;
  position: relative;
  text-align: left;
  width: 98%;
  height: 800px;
  margin: 10px;
}

.caja__columna .texto {
  position: absolute;
  top: 50px;
  left: 15px;
  right: 15px;
  bottom: 5px;
  color: #000000;
}

h1 {
  color: #000000;
  text-align: left;
  font-size: 3.75rem;
  font-weight: 700;
}

h2 {
  clear: both;
  color: #000000;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
}

.caja__columna .texto h3 {
  font-size: 40px;
  margin: 100px 0 10px;
}

.caja__columna .texto p {
  width: 450px;
  font-size: 18px;
}

.bg_price {
  position: absolute;
  text-align: center;
}

.container_prices {
  position: relative;
  top: 50px;
  left: 15px;
  right: 15px;
  bottom: 5px;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .caja__columna .texto h1 {
    font-size: 0.75rem;
  }
}
footer {
  clear: both;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  padding-top: 10px;
}