//Colores
$white: #FFF;
$platinum: #EBEBEB;
$gray: #BABABA;
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue_lagoon: #B1E4EB;
$onix: #333745;
$spanish-gray: #8F9199
$lavender-gray #C7C8CC;
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

//Font family
$raleway: 
$open-sans ;
// font size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px